[Unit]
Description=start DHT11.py
After=insert_gpioDriver.service

[Service]
Type=simple
ExecStart=/home/pi/device_driver/DHT11Start.sh
#Restart=always
#StandardOutput=journal
#StandardError=journal
#RestartSec=5s   # Delay start by 5 seconds after failure

[Install]
WantedBy=multi-user.target